
body {
    margin: 0;
    background: linear-gradient(135deg, #e24ecc, #b137e5, #7b0dcf);
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    width: 100%;
}


.container {
    width: 100%;
    background: linear-gradient(135deg, #e24ecc, #b137e5, #7b0dcf);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 600;
}

label {
    font-size: 15px;
    color: #ffffff;
}




button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #76c7ff;
    color: #000;
    font-size: 16px;
    border-radius: 6px;
    
    transition: 0.3s;
}






footer{
    width: 100%;
    background: linear-gradient(135deg, #e24ecc, #b137e5, #7b0dcf);
    text-align: center;
    color: white;
    font-size: 25px;
    border: solid 1px white;
    
}

